#backToTop {
    display: inline-block;
    margin: 30px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }x
  #backToTop:hover {
    background-color: #0056b3;
  }